.testimonial__image__container {
    background-color: #e3e3e3;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 7rem;
}

.testimonial__image{
    border-radius: 7rem;
    object-fit: fill;
}

.quote-right {
    margin-left: auto;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.watermark {
    position: relative;
    margin: 0;
}


.watermark:before {
    content: "Testimonial";
    position: absolute;
    z-index: 9999;
    inset: 0;
    transform: rotate(-45deg);
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.1;
}